@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/roboto/regular/roboto-regular-webfont.eot');
    src: url('assets/fonts/roboto/regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/roboto/regular/roboto-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto/regular/roboto-regular-webfont.woff') format('woff'),
         url('assets/fonts/roboto/regular/roboto-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/roboto/regular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('assets/fonts/roboto/bold/roboto-bold-webfont.eot');
    src: url('assets/fonts/roboto/bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/roboto/bold/roboto-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto/bold/roboto-bold-webfont.woff') format('woff'),
         url('assets/fonts/roboto/bold/roboto-bold-webfont.ttf') format('truetype'),
         url('assets/fonts/roboto/bold/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('assets/fonts/roboto/medium/roboto-medium-webfont.eot');
    src: url('assets/fonts/roboto/medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/roboto/medium/roboto-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto/medium/roboto-medium-webfont.woff') format('woff'),
         url('assets/fonts/roboto/medium/roboto-medium-webfont.ttf') format('truetype'),
         url('assets/fonts/roboto/medium/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}