.accordion-container{
    margin-bottom: 68px;
    .accordion-item{
        padding: 27px 39px;
        margin-top: -7px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        &.active{
            .accordion-item-content{
                max-height: 500px;
                overflow: visible;
                -webkit-animation: fadein 2s;
                -moz-animation: fadein 2s; 
                -ms-animation: fadein 2s;
                -o-animation: fadein 2s; 
                animation: fadein 2s;
                .bg-image {
                    -webkit-animation: pulse 2s ease-in-out;
                    -moz-animation: pulse 2s ease-in-out; 
                    -ms-animation: pulse 2s ease-in-out;
                    -o-animation: pulse 2s ease-in-out; 
                    animation: pulse 2s ease-in-out;
                }
            }
        }
        &.one{
            background: #1184D1;
            border-radius: 10px;
            z-index: 4;
        }
        &.two{
            background: #0777C2;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 3;
        }
        &.three{
            background: #EF8451;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 2;
        }
        &.four{
            background: #EA6419;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: 1;
        }
        .accordion-item-content{
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            position: relative;
            display: flex;
            justify-content: space-between;
            .content {
                max-width: 388px;
                margin-bottom: 20px;
            }
            .bg-image {
                border: 1px solid rgb(17 105 165 / 40%);
                border-radius: 50%;
                padding: 67px;
                position: absolute;
                right: 0;
                top: -42px;
            }
           
            .close-arrow{
                position: absolute;
                top: 0;
                right: 0;
            }
            .separator {
                border: 1px solid rgba(196, 196, 196, 0.5);
            }
            .title{
                font-family: 'robotomedium';
                font-size: 2.5rem;
                line-height: 25px;
                color: $white-color;
                margin-bottom: 80px;
            }
            .sub-title {
                font-family: 'robotomedium';
                font-size: 1.7rem;
                line-height: 33px;
               color: $white-color;
                margin-bottom: 70px;
            }
            .description {
                font-size: 1rem;
                line-height: 23px;
                color: #CCEAFF;
                margin-top: 14px;
            }
        }
        .accordion-item-title{
            font-size: 2.5rem;
            color: $white-color;
        }
    }
    
}

@media (max-width: 860px){
    .accordion-container .accordion-item .accordion-item-content div.bg-image{
        padding: 40px;
        max-width: 40%;
        top: 50%;
        transform: translateY(-50%);
        animation: unset!important;
        img{
            max-width: 100%;
        }
    }
}
@media (max-width: 650px){
    .accordion-container .accordion-item .accordion-item-content div.bg-image{
       display: none;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
  }