.articles-section{
    .title{
        display: flex;
        font-family: 'robotomedium';
        align-items: center;
        gap: 14px;
        margin-bottom: 39px;
        font-size: 1rem;
        line-height: 20px;
        color: #237FBD;
        .lines{
            .first-line{
                width: 7px;
                height: 2.93px;
                background: #237FBD;
                margin-bottom: 2px;
                border-radius: 15px;
            }
            .second-line{
                width: 20px;
                height: 2.93px;
                background: #237FBD;
                border-radius: 15px;
            }
        }
    }
    .articles-container {
        display: flex;
        gap: 41px;
        .article{
            flex: 1;
            transition: all 1s ease-in-out;
            &:hover {
                cursor: pointer;
                .image img{
                   transform: scale(1.3);
                }
                .article-title{
                    color: $blue-color;
                }
            }
            .article-title{
                font-family: 'robotomedium';
                font-size: 1.25rem;
                color: $secondary-color;
                margin-top: 20px;
                transition: all 0.5s ease-in-out;
            }
            .description{
                font-size: 0.9rem;
                line-height: 20px;
                margin-top: 15px;
                color: #000000;
            }
            .image{
                    border-radius: 10px;
                    overflow: hidden;
                img{
                    max-width: 100%;
                    width: 100%;
                    border-radius: 10px;
                    transition: all 0.5s ease-in-out;
                }
            }
            .audit {
                display: flex;
                gap: 22px;
                align-items: center;
                margin-top: 17px;
                .audit-label{
                    background: $blue-color;
                    border-radius: 20px;
                    font-size: 14px;
                    color: #fff;
                    padding: 1px 11px;
                    font-size: 14px;
                }
                .audit-date {
                    font-style: italic;
                    font-size: 13px;
                    color: #000000;
                }
                
            }
        }
    }
}

@media (max-width: 767px){
    .articles-section .articles-container{
           flex-direction: column;
           gap: 60px;
    }
}