.logos-container {
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

@media (max-width: 384px){
    .logos-container{
           flex-direction: column;
           gap: 24px
    }
}