
html{
    font-size: 100%;
    body{
        margin: 0;
        font-family: 'robotoregular';
        background-color: #F5F4F2;;
        main{
            padding: 52px 63px 108px 63px;
        }
    }
}

@media (max-width: 767px){
    html body main{
        padding: 40px 20px 80px 20px;
    }
}



